@font-face {
	font-family: 'pizzafont';
	src: url("../public/text/hotpizza.ttf");
}

.loginWrap {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cddee5;
}

.heading{
    font-family: 'pizzafont';
}

.formSignInWrapper {
    text-align: center;
    background-image: url("../public/images/wooden_button.jpg");
    
    box-shadow: 10px 20px #888888;
    
    padding: 20px;
    
    margin: 0 auto;
}
.formSignIn{
    background-color: white;
    display: inline-block;
    padding-top: 50px;
    border-right: solid 1px gray;
    vertical-align: text-top;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
}


.formLabel{
    color:white;
    margin: 5px;
}

.errors{
    color: red;
    font-size: small;
}