.heading{
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 999;
    background-color: white;
}

.formLabel{
    color:white;
    margin: 5px;
}

.errors{
    color: red;
    font-size: small;
}

